{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <main class="main">
        <section class="jumbotron text-center">
            <div class="container">
            <h1 class="jumbotron-heading">IT блог</h1>
            <p class="lead text-muted">
                Самые интересные статьи из мира технологий.
                Публикуйте, читайте всё нужное здесь.
            </p>
                <p id="menu">
                    <a href="#anchor" class="btn btn-primary my-2">Читать</a>
                </p>
            </div>
        </section>

        <div class="album py-5">
            <div class="container">
                {% if article in articles %}
                    <div class="row" id="anchor">
                        {% for article in articles %}
                                <div class="col-md-4">
                                    <div class="card" style="width: 18rem; height: 220px;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ article.title }}</h5>
                                            <p class="card-text">{{ article.introduction[:50].strip() }}</p>
                                            <a href="{{url_for('detailed_article',article_id=article.id) }}" class="card-link"></a>
                                            <a href="{{url_for('edit_article', article_id=article.id" }} class="card-link"></a>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                {% else %}
                <h2>Статей на сайте нет!</h2>
                {% endif %}
            </div>
        </div>
    </main>
    <!-- JQuery and custom script -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/scroll.js') }}"></script>
    {% endblock %}