<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- Custom CSS for current page -->
    <link rel="stylesheet" href="css/cover.css">
    <title>{{ article.title }}</title>
</head>
<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">{{ article.title }}</h1>
            <p class="lead">
                {{ article.introduction }}
            </p>
            <hr class="line">
            <p class="lead">
                {{ article.text }}
            </p>
            <p class="lead" >
                {{ article.pub_date.date() }}
            </p>
            <p class="lead">
                <a href="{{url_for('main')}}" class="btn btn-lg btn-secondary">Вернуться на главную</a>
                <a href="#" class="btn btn-lg btn-danger">Удалить</a>
            </p>
        </main>
    </div>
</body>
</html>