<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Изменение статьи</title>
</head>
<body class="container">
    <main class="mt-5 container">
        <form method="POST">
            <div class="form-group">
                <label for="exampleFormControlInput1">Название статьи</label>
                <input type="text"
                       class="form-control"
                       id="exampleFormControlInput1"
                       name="title"
                       placeholder="Введите название статьи"
                       value="{{ article.title }}">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Рубрика статьи</label>
                <select class="form-control" name="category_select" id="exampleFormControlSelect1">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Вступление статьи</label>
                <textarea class="form-control" name="introduction" id="exampleFormControlTextarea1" rows="2">{{ article.introduction }}</textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Текст статьи</label>
                <textarea class="form-control" name="article_text" id="exampleFormControlTextarea1" rows="5">{{ article.text }}</textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Опубликовать</button>
                <a href="{{ url_for('delete_post', article_id=article.id) }}" class="btn btn-lg btn-secondary-danger">Удалить</a>
            </div>
        </form>
    </main>
</body>
</html>