{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <main class="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Мир IT</h1>
                <p>
                    Самые интересные и оперативные новости из мира высоких технологий.
                    На нашем портале - все о компьютерном железе, гаджетах, ноутбуках и других цифровых товарах.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ url_for('news') }}" role="button">Читать »</a>
                </p>
            </div>
        </div>

        <!-- Последние новости -->
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Полёт на марс</h2>
                    <p>
                        Пилотируемый полёт на Марс — запланированный полёт человека на Марс с помощью пилотируемого космического корабля.
                        Роскосмос, НАСА и EKA объявили полёт на Марс своей целью в XXI веке, в 2045 или 2050 году.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читать »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Xiaomi и MIUI</h2>
                    <p>
                        Большим отличием MIUI 13 будет дизайн. Ей достанутся новая анимация и шрифтами.
                        Оболочка будет отличаться переработанными значками приложений и новыми "живыми" обоями.
                        Данная оболочка вот-вот появится в смартфонах Xiaomi.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читать »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>GitHub рейтинг</h2>
                    <p>
                        Среднее время мерджа (слияния нового и существующего кода. — Прим. Inc.)
                        составило 7,5 часов — на 18% меньше прошлогоднего уровня. По словам аналитиков, несмотря на удалёнку,
                        команды стали взаимодействовать активнее и разработка ускорилась.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читать »</a>
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <footer class="footer mb-5">
            <div class="container">
                <span class="text-muted">Блог, новости, всё из мира IT.</span>
            </div>
        </footer>
    </main>
{% endblock %}