{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <main class="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Мир IT</h1>
                <p>
                    Самые интересные и оперативные новости из мира высоких технологий.
                    На нашем портале - все о компьютерном железе, гаджетах, ноутбуках и других цифровых товарах.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ url_for('news') }}" role="button">Читать »</a>
                </p>
            </div>
        </div>

        <!-- Последние новости -->
        <div class="container">
            <!-- Example row of columns -->
            <div class="card-deck mb-3">
                {% for article in articles %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                                <p class="card-text">{{ article.introduction[:50].strip() }}</p>
                                <a class="btn btn-secondary" 
                                    href="#"
                                    role="button">Читать </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
        <footer class="footer mb-5">
            <div class="container">
                <span class="text-muted">Блог, новости, всё из мира IT.</span>
            </div>
        </footer>
    </main>
{% endblock %}